<app-menu></app-menu>
<div class="component">
  <div class="header">
    <span class="pagetitle">Request Review</span>
    <input class="search" [(ngModel)]="searchCriteria" type="text" placeholder="Search">
  </div>
    
    <table class="table table-hover table-sm table-responsive-xl">
      <thead class="tableheader">
        <th>Id</th>
        <th>Status</th>
        <th>User</th>
        <th>Description</th>
        <th>Total</th>
      </thead>

      <tbody>
        <ng-container *ngFor="let request of requests" >          
          <tr (click)="showtbl(request.id)"> 
            <td>{{request.id}} 
                <span *ngIf="showtable">▲</span>
                <span *ngIf="!showtable">▼</span>
            </td>
            <td>{{request.status}}<br>

              <ng-container *ngIf="showtable && idx == request.id">
                <table class="table table-sm">
                  <thead class="tableheader">
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                  </thead>   
                  <tbody>                  
                    <tr *ngFor="let requestline of request.requestLines">
                      <td>{{requestline.product.name}}</td>
                      <td>{{requestline.quantity}}</td>
                      <td>{{requestline.product.price | currency}}</td>
                      <td>{{requestline.product.price * requestline.quantity | currency}}</td>
                    </tr>                    
                  </tbody>             
                </table>
              </ng-container>
              <ng-container *ngIf="showtable && idx == request.id">
                <button class="btn btn-success btn-sm">Approve</button> | 
                <button class="btn btn-danger btn-sm">Reject</button>
              </ng-container>

            </td>
            <td>{{request.user.username}}</td>
            <td>{{request.description}}</td>
            <td>{{request.total | currency}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>