/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.pagetitle {
    font-weight: bold;
}
.tableheader {
    font-weight: bold;
    font-style: italic;
}
.tableheader td:hover {
    color:rgb(28, 62, 218);
}
tr.tableheader a {
    cursor: pointer;               
}
.search{    
    float: right;  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
